body{
background-color:white;
background-image: radial-gradient(circle, #d8f4f7 5px, transparent 5px), radial-gradient(circle, #f5d3f6 5px, transparent 5px);
background-position: 0 0, 15px 30px;
background-size: 30px 60px;
text-align:center;
font-family: "DotGothic16", sans-serif;
font-weight: 400;
font-style: normal;
color: #d0477e;
}

h2{
    background: #ff9ecb;
    color: white;
    padding:15px;
    border-radius:20px;
}

h3{
background: #e388ef;
    color: white;
    padding:10px;
    border-radius: 20px;
}

.container{
    display: flex;
}

.menu{
    width: 200px;
    background: #ace4ea;
    padding: 20px;
}

.content{
    flex: 1;
    padding: 20px;
}